In [3]:
import pandas as pd
import numpy
import yfinance as yf

In [14]:
import yfinance as yf

# Mapping of categories to tickers
category_tickers = {
    "LargeCap": ["^NSEI", "^BSESN", "RELIANCE.NS", "HDFCBANK.NS", "ICICIBANK.NS", "INFY.NS", "TCS.NS"],
    "MidCap": ["^NSEMDCP50", "MAXHEALTH.NS", "TIINDIA.NS", "BHARATFORG.NS", "AUBANK.NS", "ZYDUSLIFE.NS"],
    "SmallCap": ["^CNXSC", "CDSL.NS", "KPITTECH.NS", "TATAELXSI.NS", "EQUITASBNK.NS", "CYIENT.NS"]
}

# Flatten list of tickers
all_tickers = list(set(sum(category_tickers.values(), [])))



# Download from yfinance
data = yf.download(all_tickers, start="2015-01-01", end="2025-08-01", group_by='ticker')

print(data.head())

/var/folders/zn/q697jrl971jcrr__cr16mfjr0000gn/T/ipykernel_40199/684347369.py:16: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(all_tickers, start="2015-01-01", end="2025-08-01", group_by='ticker')
[*********************100%***********************]  19 of 19 completed

1 Failed download:
['^CNXSC']: YFPricesMissingError('possibly delisted; no price data found  (1d 2015-01-01 -> 2025-08-01)')

Ticker     ICICIBANK.NS                                                \
Price              Open        High         Low       Close    Volume
Date
2015-01-01   294.357711  294.983654  292.271272  294.023895   2583280
2015-01-02   293.773467  303.371193  293.773467  302.369690   8272990
2015-01-05   304.873434  306.626057  301.702003  302.995605  10316090
2015-01-06   299.949400  300.366705  288.932895  290.143036  13282427
2015-01-07   288.432170  288.974652  279.961152  282.297974  21254332

Ticker     AUBANK.NS                        ...        ^NSEI               \
Price           Open High Low Close Volume  ...         Open         High
Date                                        ...
2015-01-01       NaN  NaN NaN   NaN    NaN  ...          NaN          NaN
2015-01-02       NaN  NaN NaN   NaN    NaN  ...  8288.700195  8410.599609
2015-01-05       NaN  NaN NaN   NaN    NaN  ...  8407.950195  8445.599609
2015-01-06       NaN  NaN NaN   NaN    NaN  ...  8325.299805  8327.849609
2015-01-07       NaN  NaN NaN   NaN    NaN  ...  8118.649902  8151.200195

Ticker                                         ZYDUSLIFE.NS              \
Price               Low        Close    Volume         Open        High
Date
2015-01-01          NaN          NaN       NaN   293.454032  293.590312
2015-01-02  8288.700195  8395.450195  101900.0   293.572106  297.932374
2015-01-05  8363.900391  8378.400391  118200.0   299.394860  310.667930
2015-01-06  8111.350098  8127.350098  172800.0   307.942873  307.942873
2015-01-07  8065.450195  8102.100098  164100.0   301.765811  303.428145

Ticker
Price              Low       Close   Volume
Date
2015-01-01  290.674373  292.863586   519665
2015-01-02  293.572106  295.706818   508415
2015-01-05  299.213199  308.742157  1169030
2015-01-06  299.404050  301.620514   514970
2015-01-07  295.452518  299.567505   174425

[5 rows x 96 columns]

In [15]:
df_long = data.stack(level=[0], future_stack=True)
df_long

Price                             Open          High           Low  \
Date       Ticker
2015-01-01 ICICIBANK.NS     294.357711    294.983654    292.271272
           AUBANK.NS               NaN           NaN           NaN
           TCS.NS          1082.556258   1082.556258   1071.591528
           RELIANCE.NS      189.657431    190.877155    189.090351
           HDFCBANK.NS      436.039783    437.598717    433.311663
...                                ...           ...           ...
2025-07-31 TATAELXSI.NS    6084.000000   6138.500000   6001.000000
           ^CNXSC                  NaN           NaN           NaN
           EQUITASBNK.NS     60.000000     60.099998     58.900002
           ^NSEI          24642.250000  24956.500000  24635.000000
           ZYDUSLIFE.NS     975.049988    986.450012    961.099976

Price                            Close     Volume  Adj Close
Date       Ticker
2015-01-01 ICICIBANK.NS     294.023895  2583280.0        NaN
           AUBANK.NS               NaN        NaN        NaN
           TCS.NS          1073.510376   366830.0        NaN
           RELIANCE.NS      189.999802  2963643.0        NaN
           HDFCBANK.NS      436.521210  1772470.0        NaN
...                                ...        ...        ...
2025-07-31 TATAELXSI.NS    6093.500000   138299.0        NaN
           ^CNXSC                  NaN        NaN        NaN
           EQUITASBNK.NS     59.259998  1827719.0        NaN
           ^NSEI          24768.349609   346300.0        NaN
           ZYDUSLIFE.NS     969.799988  1187065.0        NaN

[49647 rows x 6 columns]

In [16]:
# Flatten the index into columns
df_long = df_long.reset_index()

# Rename for consistency
df_long = df_long.rename(columns={
    'Date': 'date',
    'Ticker': 'ticker',
    'Open': 'open',
    'High': 'high',
    'Low': 'low',
    'Close': 'close',
    'Adj Close': 'adj_close',
    'Volume': 'volume'
})

In [20]:
df_long.drop(columns=['adj_close'], inplace=True)

In [22]:
df_long.dropna(inplace=True)
df_long

Price,date,ticker,open,high,low,close,volume
0,2015-01-01,ICICIBANK.NS,294.357711,294.983654,292.271272,294.023895,2583280.0
2,2015-01-01,TCS.NS,1082.556258,1082.556258,1071.591528,1073.510376,366830.0
3,2015-01-01,RELIANCE.NS,189.657431,190.877155,189.090351,189.999802,2963643.0
4,2015-01-01,HDFCBANK.NS,436.039783,437.598717,433.311663,436.521210,1772470.0
5,2015-01-01,CYIENT.NS,403.996792,407.919091,400.074493,401.996429,14488.0
...,...,...,...,...,...,...,...
49641,2025-07-31,^NSEMDCP50,16170.299805,16315.250000,16101.950195,16212.450195,6100.0
49642,2025-07-31,TATAELXSI.NS,6084.000000,6138.500000,6001.000000,6093.500000,138299.0
49644,2025-07-31,EQUITASBNK.NS,60.000000,60.099998,58.900002,59.259998,1827719.0
49645,2025-07-31,^NSEI,24642.250000,24956.500000,24635.000000,24768.349609,346300.0
49646,2025-07-31,ZYDUSLIFE.NS,975.049988,986.450012,961.099976,969.799988,1187065.0

In [ ]:
# Save to CSV
df_long.to_csv( 'all_tickers_data.csv', index=False)

In [33]:
tickers_data = {}

for ticker in all_tickers:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp
    
# Combine all dataframes into a single dataframe

combined_data = pd.concat(tickers_data)
combined_data = combined_data.reset_index()
combined_data

           level_0  level_1              Attribute                Recent
0     ICICIBANK.NS        0               address1     ICICI Bank Towers
1     ICICIBANK.NS        1               address2  Bandra-Kurla Complex
2     ICICIBANK.NS        2                   city                Mumbai
3     ICICIBANK.NS        3                    zip                400051
4     ICICIBANK.NS        4                country                 India
...            ...      ...                    ...                   ...
2596        ^CNXSC       50         sourceInterval                    15
2597        ^CNXSC       51  exchangeDataDelayedBy                    15
2598        ^CNXSC       52        cryptoTradeable                 False
2599        ^CNXSC       53            marketState                CLOSED
2600        ^CNXSC       54       trailingPegRatio                  None

[2601 rows x 4 columns]

In [34]:
del combined_data["level_1"] # clean up unnecessary column
combined_data.columns = ["Ticker", "Attribute", "Recent"] # update column names

combined_data

            Ticker              Attribute                Recent
0     ICICIBANK.NS               address1     ICICI Bank Towers
1     ICICIBANK.NS               address2  Bandra-Kurla Complex
2     ICICIBANK.NS                   city                Mumbai
3     ICICIBANK.NS                    zip                400051
4     ICICIBANK.NS                country                 India
...            ...                    ...                   ...
2596        ^CNXSC         sourceInterval                    15
2597        ^CNXSC  exchangeDataDelayedBy                    15
2598        ^CNXSC        cryptoTradeable                 False
2599        ^CNXSC            marketState                CLOSED
2600        ^CNXSC       trailingPegRatio                  None

[2601 rows x 3 columns]

In [35]:
hash_count = {}

for attr in combined_data['Attribute']:
    if attr in hash_count:
        hash_count[attr] += 1
    else:
        hash_count[attr] = 1

print(combined_data['Ticker'].nunique())
print(hash_count)

19
{'address1': 15, 'address2': 15, 'city': 15, 'zip': 15, 'country': 15, 'phone': 14, 'fax': 10, 'website': 15, 'industry': 15, 'industryKey': 15, 'industryDisp': 15, 'sector': 15, 'sectorKey': 15, 'sectorDisp': 15, 'longBusinessSummary': 15, 'fullTimeEmployees': 14, 'companyOfficers': 15, 'auditRisk': 9, 'boardRisk': 9, 'compensationRisk': 9, 'shareHolderRightsRisk': 9, 'overallRisk': 9, 'governanceEpochDate': 9, 'compensationAsOfEpochDate': 14, 'irWebsite': 4, 'executiveTeam': 15, 'maxAge': 19, 'priceHint': 19, 'previousClose': 19, 'open': 19, 'dayLow': 19, 'dayHigh': 19, 'regularMarketPreviousClose': 19, 'regularMarketOpen': 19, 'regularMarketDayLow': 19, 'regularMarketDayHigh': 19, 'dividendRate': 15, 'dividendYield': 15, 'exDividendDate': 15, 'payoutRatio': 15, 'fiveYearAvgDividendYield': 11, 'beta': 15, 'trailingPE': 14, 'forwardPE': 15, 'volume': 19, 'regularMarketVolume': 19, 'averageVolume': 18, 'averageVolume10days': 18, 'averageDailyVolume10Day': 18, 'bid': 19, 'ask': 19, 'bidSize': 15, 'askSize': 15, 'marketCap': 15, 'fiftyTwoWeekLow': 19, 'fiftyTwoWeekHigh': 19, 'priceToSalesTrailing12Months': 15, 'fiftyDayAverage': 18, 'twoHundredDayAverage': 18, 'trailingAnnualDividendRate': 15, 'trailingAnnualDividendYield': 15, 'currency': 19, 'tradeable': 19, 'enterpriseValue': 15, 'profitMargins': 15, 'floatShares': 15, 'sharesOutstanding': 15, 'heldPercentInsiders': 15, 'heldPercentInstitutions': 15, 'impliedSharesOutstanding': 15, 'bookValue': 15, 'priceToBook': 15, 'lastFiscalYearEnd': 15, 'nextFiscalYearEnd': 15, 'mostRecentQuarter': 15, 'earningsQuarterlyGrowth': 14, 'netIncomeToCommon': 15, 'trailingEps': 15, 'forwardEps': 9, 'lastSplitFactor': 11, 'lastSplitDate': 11, 'enterpriseToRevenue': 15, '52WeekChange': 18, 'SandP52WeekChange': 15, 'lastDividendValue': 15, 'lastDividendDate': 15, 'quoteType': 19, 'currentPrice': 15, 'targetHighPrice': 15, 'targetLowPrice': 15, 'targetMeanPrice': 15, 'targetMedianPrice': 15, 'recommendationMean': 13, 'recommendationKey': 15, 'numberOfAnalystOpinions': 15, 'totalCash': 15, 'totalCashPerShare': 15, 'totalDebt': 15, 'totalRevenue': 15, 'revenuePerShare': 15, 'returnOnAssets': 4, 'returnOnEquity': 5, 'grossProfits': 15, 'earningsGrowth': 14, 'revenueGrowth': 15, 'grossMargins': 15, 'ebitdaMargins': 15, 'operatingMargins': 15, 'financialCurrency': 15, 'symbol': 19, 'language': 19, 'region': 19, 'typeDisp': 19, 'quoteSourceName': 19, 'triggerable': 19, 'customPriceAlertConfidence': 19, 'regularMarketChangePercent': 19, 'regularMarketPrice': 19, 'shortName': 19, 'longName': 19, 'hasPrePostMarketData': 19, 'firstTradeDateMilliseconds': 18, 'regularMarketChange': 19, 'regularMarketDayRange': 19, 'fullExchangeName': 19, 'averageDailyVolume3Month': 18, 'fiftyTwoWeekLowChange': 19, 'fiftyTwoWeekLowChangePercent': 19, 'fiftyTwoWeekRange': 19, 'fiftyTwoWeekHighChange': 19, 'fiftyTwoWeekHighChangePercent': 19, 'fiftyTwoWeekChangePercent': 18, 'corporateActions': 19, 'regularMarketTime': 19, 'exchange': 19, 'messageBoardId': 19, 'exchangeTimezoneName': 19, 'exchangeTimezoneShortName': 19, 'gmtOffSetMilliseconds': 19, 'market': 19, 'esgPopulated': 19, 'earningsTimestamp': 13, 'earningsTimestampStart': 15, 'earningsTimestampEnd': 15, 'earningsCallTimestampStart': 15, 'earningsCallTimestampEnd': 15, 'isEarningsDateEstimate': 15, 'epsTrailingTwelveMonths': 15, 'epsForward': 9, 'epsCurrentYear': 15, 'priceEpsCurrentYear': 15, 'fiftyDayAverageChange': 18, 'fiftyDayAverageChangePercent': 18, 'twoHundredDayAverageChange': 18, 'twoHundredDayAverageChangePercent': 18, 'sourceInterval': 19, 'exchangeDataDelayedBy': 19, 'averageAnalystRating': 13, 'cryptoTradeable': 19, 'marketState': 19, 'trailingPegRatio': 19, 'enterpriseToEbitda': 11, 'ebitda': 11, 'debtToEquity': 12, 'quickRatio': 2, 'currentRatio': 2, 'freeCashflow': 2, 'operatingCashflow': 2, 'prevName': 1, 'nameChangeDate': 1}

In [36]:
hash_count.keys()

dict_keys(['address1', 'address2', 'city', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 'overallRisk', 'governanceEpochDate', 'compensationAsOfEpochDate', 'irWebsite', 'executiveTeam', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'tradeable', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'heldPercentInsiders', 'heldPercentInstitutions', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'quoteType', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'totalDebt', 'totalRevenue', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'grossProfits', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'symbol', 'language', 'region', 'typeDisp', 'quoteSourceName', 'triggerable', 'customPriceAlertConfidence', 'regularMarketChangePercent', 'regularMarketPrice', 'shortName', 'longName', 'hasPrePostMarketData', 'firstTradeDateMilliseconds', 'regularMarketChange', 'regularMarketDayRange', 'fullExchangeName', 'averageDailyVolume3Month', 'fiftyTwoWeekLowChange', 'fiftyTwoWeekLowChangePercent', 'fiftyTwoWeekRange', 'fiftyTwoWeekHighChange', 'fiftyTwoWeekHighChangePercent', 'fiftyTwoWeekChangePercent', 'corporateActions', 'regularMarketTime', 'exchange', 'messageBoardId', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'gmtOffSetMilliseconds', 'market', 'esgPopulated', 'earningsTimestamp', 'earningsTimestampStart', 'earningsTimestampEnd', 'earningsCallTimestampStart', 'earningsCallTimestampEnd', 'isEarningsDateEstimate', 'epsTrailingTwelveMonths', 'epsForward', 'epsCurrentYear', 'priceEpsCurrentYear', 'fiftyDayAverageChange', 'fiftyDayAverageChangePercent', 'twoHundredDayAverageChange', 'twoHundredDayAverageChangePercent', 'sourceInterval', 'exchangeDataDelayedBy', 'averageAnalystRating', 'cryptoTradeable', 'marketState', 'trailingPegRatio', 'enterpriseToEbitda', 'ebitda', 'debtToEquity', 'quickRatio', 'currentRatio', 'freeCashflow', 'operatingCashflow', 'prevName', 'nameChangeDate'])

In [37]:
common_attr = []
for attr in hash_count.keys():
    if hash_count[attr] == 19:
        common_attr.append(attr)
            
print("Common attributes across all tickers:")
print(common_attr)

Common attributes across all tickers:
['maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'volume', 'regularMarketVolume', 'bid', 'ask', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'currency', 'tradeable', 'quoteType', 'symbol', 'language', 'region', 'typeDisp', 'quoteSourceName', 'triggerable', 'customPriceAlertConfidence', 'regularMarketChangePercent', 'regularMarketPrice', 'shortName', 'longName', 'hasPrePostMarketData', 'regularMarketChange', 'regularMarketDayRange', 'fullExchangeName', 'fiftyTwoWeekLowChange', 'fiftyTwoWeekLowChangePercent', 'fiftyTwoWeekRange', 'fiftyTwoWeekHighChange', 'fiftyTwoWeekHighChangePercent', 'corporateActions', 'regularMarketTime', 'exchange', 'messageBoardId', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'gmtOffSetMilliseconds', 'market', 'esgPopulated', 'sourceInterval', 'exchangeDataDelayedBy', 'cryptoTradeable', 'marketState', 'trailingPegRatio']

In [38]:
attr_selected = ['currency', 'symbol', 'region', 'typeDisp', 'shortName', 'longName', 'exchange', 'fullExchangeName', 'exchangeTimezoneName','exchangeTimezoneShortName', 'gmtOffSetMilliseconds', 'market', 'quoteType',
                  'marketState', 'gmtOffSetMilliseconds']
    

filtered_data = combined_data[combined_data['Attribute'].isin(attr_selected)]
print(filtered_data)

            Ticker                  Attribute        Recent
61    ICICIBANK.NS                   currency           INR
86    ICICIBANK.NS                  quoteType        EQUITY
109   ICICIBANK.NS                     symbol  ICICIBANK.NS
111   ICICIBANK.NS                     region            US
112   ICICIBANK.NS                   typeDisp        Equity
...            ...                        ...           ...
2591        ^CNXSC       exchangeTimezoneName  Asia/Kolkata
2592        ^CNXSC  exchangeTimezoneShortName           IST
2593        ^CNXSC      gmtOffSetMilliseconds      19800000
2594        ^CNXSC                     market     in_market
2599        ^CNXSC                marketState        CLOSED

[266 rows x 3 columns]

In [39]:
filtered_data.head()

           Ticker  Attribute        Recent
61   ICICIBANK.NS   currency           INR
86   ICICIBANK.NS  quoteType        EQUITY
109  ICICIBANK.NS     symbol  ICICIBANK.NS
111  ICICIBANK.NS     region            US
112  ICICIBANK.NS   typeDisp        Equity

In [40]:
print(filtered_data.columns.tolist())

['Ticker', 'Attribute', 'Recent']

In [41]:
# Pivot so Attributes become columns, and Ticker is the index
df_pivot = filtered_data.pivot(index='Ticker', columns='Attribute', values='Recent').reset_index()

# Optional: flatten the MultiIndex columns if needed
df_pivot.columns.name = None

print(df_pivot.head())

          Ticker currency exchange exchangeTimezoneName  \
0      AUBANK.NS      INR      NSI         Asia/Kolkata
1  BHARATFORG.NS      INR      NSI         Asia/Kolkata
2        CDSL.NS      INR      NSI         Asia/Kolkata
3      CYIENT.NS      INR      NSI         Asia/Kolkata
4  EQUITASBNK.NS      INR      NSI         Asia/Kolkata

  exchangeTimezoneShortName fullExchangeName gmtOffSetMilliseconds  \
0                       IST              NSE              19800000
1                       IST              NSE              19800000
2                       IST              NSE              19800000
3                       IST              NSE              19800000
4                       IST              NSE              19800000

                                      longName     market marketState  \
0                AU Small Finance Bank Limited  in_market      CLOSED
1                         Bharat Forge Limited  in_market      CLOSED
2  Central Depository Services (India) Limited  in_market      CLOSED
3                               Cyient Limited  in_market      CLOSED
4           Equitas Small Finance Bank Limited  in_market      CLOSED

  quoteType region                  shortName         symbol typeDisp
0    EQUITY     US  AU SMALL FINANCE BANK LTD      AUBANK.NS   Equity
1    EQUITY     US           BHARAT FORGE LTD  BHARATFORG.NS   Equity
2    EQUITY     US   CENTRAL DEPO SER (I) LTD        CDSL.NS   Equity
3    EQUITY     US             CYIENT LIMITED      CYIENT.NS   Equity
4    EQUITY     US  EQUITAS SMALL FIN BNK LTD  EQUITASBNK.NS   Equity

In [42]:
df_pivot['region'] = 'India'

df_pivot.head()

,Ticker,currency,exchange,exchangeTimezoneName,exchangeTimezoneShortName,fullExchangeName,gmtOffSetMilliseconds,longName,market,marketState,quoteType,region,shortName,symbol,typeDisp
0,AUBANK.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,AU Small Finance Bank Limited,in_market,CLOSED,EQUITY,India,AU SMALL FINANCE BANK LTD,AUBANK.NS,Equity
1,BHARATFORG.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Bharat Forge Limited,in_market,CLOSED,EQUITY,India,BHARAT FORGE LTD,BHARATFORG.NS,Equity
2,CDSL.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Central Depository Services (India) Limited,in_market,CLOSED,EQUITY,India,CENTRAL DEPO SER (I) LTD,CDSL.NS,Equity
3,CYIENT.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Cyient Limited,in_market,CLOSED,EQUITY,India,CYIENT LIMITED,CYIENT.NS,Equity
4,EQUITASBNK.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Equitas Small Finance Bank Limited,in_market,CLOSED,EQUITY,India,EQUITAS SMALL FIN BNK LTD,EQUITASBNK.NS,Equity

In [43]:
print(filtered_data['Attribute'].nunique())

df_pivot.to_csv("filtered_tickers_data.csv", index=False)

14